<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div id="composeModal" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&minus;</span></button>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Minimise"><i class="fa fa-window-minimize" aria-hidden="true"></i></button> -->
            <h4 class="text6 color3" id="myModalLabel">Compose</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="from" class="col-sm-2 control-label">From:</label>
                <div class="col-sm-5">
                    <select name="from" [(ngModel)]="from" class="form-control">
                        <option *ngFor="let mail of emailList" value={{mail.id}}>{{mail.email}}</option>
                     </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">To:</label>
                <div class="col-sm-5">
                    <select id="to" class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
                      <option *ngFor="let contact of contactList;" value="contact">{{contact}}</option>
                    </select>
                </div>
                <div class="col-sm-2 pull-right">
                    <a href="#ccCollapse" class="text5 color4" data-toggle="collapse">CC</a>
                    <a href="#bccCollapse" class="text5 color4" data-toggle="collapse">BCC</a>
                </div>
              </div>
              <div class="form-group collapse" id="ccCollapse">
                <label for="ccEmail" class="col-sm-2 control-label">CC:</label>
                <div class="col-sm-5">
                    <select id="cc" class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
                      <option *ngFor="let contact of contactList;" value="contact">{{contact}}</option>
                    </select>
                </div>
              </div>
              <div class="form-group collapse" id="bccCollapse">
                <label for="bccEmail" class="col-sm-2 control-label">BCC:</label>
                <div class="col-sm-5">
                    <select id="bcc" class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
                      <option *ngFor="let contact of contactList;" value="contact">{{contact}}</option>
                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="subject" class="col-sm-2 control-label">Subject:</label>
                <div class="col-sm-10">
                  <input name="subject" [(ngModel)]="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
              </div>

            </form>
            <div class="wsiEdit">
                <heyooo-wysiwyg-editor></heyooo-wysiwyg-editor>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button type="button" class="btn bttn" (click)="composeEmail(from, subject)">Send</button>
                <button type="button" class="btn bttn-empty" data-dismiss="modal">Cancel</button>
            </div>
            <span class="text2 color8">
                <!-- Draft saved at 22:03 -->
            </span>
        </div>
    </div>
</div>
