#composeModal {
    width: 90%;
    min-width: 1010px;
}

.select2 {
    width: 100% !important;
}

.select2-selection--multiple {
    height: 35px !important;
}

.modal-body,
.modal-footer,
.modal-header {
    padding: 0;
}

.modal-content {
    padding: 30px;
}

.modal-header {
    border-bottom: none;
}

.close {
    margin-left: 15px;
}

.modal-footer {
    border-top: none;
}
