@import "../../../styles.scss";


.bttn-empty span{
    margin-top: 8px;
}

#left-navigation {
    background: $color7;
    min-height: calc(100vh - 58px);
    padding: 29px 35px 0;
    font-size: 1.1rem;
}

#left-nav-menu {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    min-width: 185px;
}

#left-nav-menu li {
    display: block;
    margin-bottom: 24px;
    position: relative;
    padding-left: 16px;
}

#left-nav-menu li a {
    color: $color4;
}

#left-nav-menu li:hover a {
    text-decoration: none;
}

#left-nav-menu .fa-circle {
    font-size: 0.5rem;
    position: absolute;
    top: 5px;
}

#left-nav-menu .glyphicon {
    color: $color4;
    font-size: 1.4rem;
    margin-right: 18px;
    vertical-align: sub;
}

.dropdown-menu {
    top: 30px;
}

.dropdown-menu li a {
    font-family: Proxima Nova Alt;
}

.modal {
    overflow-x: auto;
}

.new-notif * {
    color: $color2 !important;
}

.badge {
    background: none;
    float: right !important;
    padding-right: 40px;
}
// #sending-wrapper{
//     position: absolute;
//     bottom: 6.25vw;
// }
// #sending-wrapper p{
//     font-size: .80vw;
//     font-weight: bold;
//     color: #7696e1;
// }
//
// #sending-wrapper #sending-bar{
//     width: 10.41vw;
//     height: 0.52vw;
//     background: #7696e1;
//     border-radius: .26vw;
// }
@media (min-width: 1200px) {
    #left-navigation {
        width: 15.73%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .leftNavContainer{
        width: 4.33% !important;
    }
}

@media (max-width: 1199px) {
    .leftNavContainer{
        min-width: 30px;
        padding: 0 !important;
    }

    #left-nav-menu{
        margin-top: 60px;
    }

    .leftNavContainer.leftNavExpand #left-nav-menu {
        margin-top: 30px;
    }



    .leftNavigation {
        position: absolute;
        left: -5px;
        width: 35px;
        overflow: hidden;
        transition: all 0.1s linear;
    }

    .fa-circle {
        display: none;
    }

    .leftNavContainer.leftNavExpand .leftNavigation {
        overflow: auto;
        width: auto;
        width: 195px !important;
        position: absolute;
        background: $color7;
        height: calc(100vh - 57px);
        padding: 60px 40px 0 10px;
    }

    .leftNavContainer.leftNavExpand {
        z-index: 2;
    }

    .leftNavContainer.leftNavExpand .fa-circle {
        display: inherit;
    }

    .leftNavContainer.leftNavExpand .badge {
        padding-right: 35px;
    }

    .leftNavContainer.leftNavExpand .leftNavButtons {
        display: block !important;
    }

    #leftNavToggleBtn {
        position: absolute;
        left: 15px;
        top: 20px;
    }
}

@media (max-width: 767px){
    .leftNavigation{
        left: -7px;
    }

    .leftNavContainer{
        min-width: 25px;
    }
}
