<div class="col-xs-1 col-lg-2 leftNavContainer" id="left-navigation">
    <div class="leftNavigation">
        <a class="hidden-lg text3 color4" id="leftNavToggleBtn" href="javascript:void()"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <div class="leftNavButtons visible-lg row">
            <div class="dropdown">
                <button class="dropdown-toggle btn bttn-empty col-sm-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span>All Accounts</span> <span class="caret pull-right"></span></button >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li *ngFor="let list of emailList; let i=index"><a href="javascript:void()" (click)="selectMailbox(list.id)">{{ list.email }}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a [routerLink]="['/dashboard/addMailBox']">Add Account</a></li>
                  </ul>
            </div>
            <a class="btn bttn col-sm-12 margin15" data-toggle="modal" data-target="#composeModal"><span>Compose</span></a>
        </div>
        <div class="row">
            <ul id="left-nav-menu">
                <li class="new-notif">
                    <!-- <i class="fa fa-circle" aria-hidden="true"></i> -->
                    <a href="javascript:void()" (click)="fetchData.changeMailBox('inbox')"><span class="glyphicon glyphicon-inbox"></span> Inbox</a>
                    <!-- <span class="badge">2</span> -->
                </li>
                <li> <a href="javascript:void()" (click)="fetchData.changeMailBox('starred')"><span class="glyphicon glyphicon-star-empty"></span> Starred</a></li>
                <li><a href="javascript:void()" (click)="fetchData.changeMailBox('sent')"><span class="glyphicon glyphicon-send"></span> Sent</a></li>
                <li><a href="javascript:void()" (click)="fetchData.changeMailBox('draft')"><span class="glyphicon glyphicon-edit"></span> Drafts</a></li>
                <li><a href="javascript:void()" (click)="fetchData.changeMailBox('spam')"><span class="glyphicon glyphicon-alert"></span> Spam</a></li>
                <li><a href="javascript:void()" (click)="fetchData.changeMailBox('trash')"><span class="glyphicon glyphicon-trash"></span> Trash</a></li>
                <li><a href="javascript:void()" (click)="fetchData.changeMailBox('archive')"><span class="glyphicon glyphicon-folder-open"></span> Archive</a></li>
            </ul>
        </div>
    </div>

    <!-- <div id="sending-wrapper">
        <p>Sending email...</p>
        <div id="sending-bar"></div>
    </div> -->
</div>

<div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <heyooo-compose-email></heyooo-compose-email>
</div>
