<!-- My Plan -->

    <!-- <div class="row">
        <div class="text3 color3 normal-font">My Plan</div>
        <div class="margin20"></div>
        <div class="col-xs-4 col-sm-3">
            <p class="text1 color4">Plan</p>
            <p class="text3 color6 normal-font">Starter</p>
        </div>
        <div class="col-xs-4 col-sm-3">
            <p class="text1 color4">Billing Cycle</p>
            <p class="text3 color6 normal-font">Monthly</p>
        </div>
        <div class="col-xs-4 col-sm-3">
            <p class="text1 color4">Next Due Date</p>
            <p class="text3 color6 normal-font">2018-11-22</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <a href="javascript:void()" class="col-xs-12 btn bttn">Pricing</a>
        </div>
    </div> -->
<!-- My Plan Ends -->

<div class="row">
    <div class="text3 color3 normal-font">My Profile</div>
    <form class="form-horizontal normal">
        <div class="form-group col-sm-12">
          <label class="col-sm-4 control-label">Your Name</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" placeholder={{auth.name}}>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label class="col-sm-4 control-label">Gender</label>
          <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
              </label>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label class="col-sm-4 control-label">Login Method</label>
          <div class="col-sm-7">
          </div>
        </div>
    </form>
</div>
