.server-container {
    padding-top: 65px;
    font-family: Proxima Nova Alt;
    font-weight: normal;
}

form label {
    // text-align: left;
    padding-left: 0;
    font-size: 1.2rem;
    font-weight: normal;
    // colo
}

p.margin20 {
    margin-top: 20px;
}

.server-type {
    margin-top: 9rem;
}
