<div class="col-sm-8 col-sm-offset-2 server-container">
    <div class="server-header">
        <p class="text4 color3">Sorry, we are unable to detect your email server.</p>
        <p class="text2 color8 margin20">You are suggested to provide the mail server information.</p>
    </div>
    <div class="server-type">
        <p class="col-sm-6 text4 color3">Receiving</p>
        <p class="col-sm-6 text4 color3">Sending</p>
    </div>
    <form class="form-horizontal">
        <span class="col-sm-6">
            <div class="form-group col-sm-12">
                <label class="col-sm-4 control-label">Server Type</label>
                <div class="col-sm-8">
                    <select class="form-control">
                        <option value="1">IMAP</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Server</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Port</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Secure</label>
              <div class="col-sm-8">
                  <select class="form-control">
                      <option value="1">IMAP</option>
                  </select>
              </div>
            </div>
        </span>
        <span class="col-sm-6">
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Server Type</label>
              <div class="col-sm-8">
                  <select class="form-control">
                      <option value="1">IMAP</option>
                  </select>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Server</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Port</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Secure</label>
              <div class="col-sm-8">
                  <select class="form-control">
                      <option value="1">IMAP</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-8 col-sm-4 pull-right">
                <input type="submit" value="Continue" class="btn bttn">
              </div>
            </div>
        </span>



    </form>
</div>
