<div class="row">
    <div class="text3 color3 pull-left normal-font">My Mailbox</div>
    <a [routerLink]="['/dashboard/addMailBox']" class="btn bttn pull-right">Add New</a>
</div>
<div class="col-sm-12 mailboxCard margin40">
    <div *ngFor="let card of emailList" class="col-sm-12 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/img/gmail.png" alt="Image">
                </div>
                <div class="col-sm-8 text2">
                    <p class="color6 normal-font">{{card.name}} <span *ngIf="card.primary || false" class="color2">(Primary)</span></p>
                    <p class="color2 alt-font">{{card.email}}</p>
                </div>
            </div>
            <hr>
            <div class="row center text2">
                <div class="col-xs-4">
                    <a href="javascript:script()" data-toggle="modal" data-target="#signatureModal" class="color6 alt-font">Signature</a>
                </div>
                <div class="col-xs-4">
                    <a href="javascript:script()" class="color2 alt-font">Edit</a>
                </div>
                <div class="col-xs-4">
                    <a href="javascript:script()" (click)="delete(card)" class="alt-font" style="color:#f13e31">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="signatureModalLabel">
    <heyooo-signature></heyooo-signature>
</div>
