@import "../../../../styles.scss";

.modal{
    overflow-x: auto;
}

.card {
    background: $color7;
    padding: 25px 30px 20px;
    border-radius: 5px;
    margin: 3px 0;
}

.card img {
    width: 42px;
    height: 42px;
}
