<div class="col-sm-8 col-sm-offset-2 col-md-3 md-offset" id="mailboxWrapper">
    <p class="text5 color3 center">Add Mailbox.</p>
    <form class="margin40" method="post">
        <div class="row">
          <input type="email" name="mailbox-email" class="form-control" required placeholder="Email Account" [(ngModel)]="email">
        </div>
        <div class="row">
          <input type="password" name="mailbox-pass" class="form-control margin15" required placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="row margin40">
         <input class="col-xs-12 col-sm-offset-2 col-sm-4 btn bttn" type="submit" value="Add" (click)="addMailBox(email, password)">
         <input class="col-xs-12 col-sm-4 btn bttn" type="submit" value="Cancel" (click)="cancelClicked()" style="background:#f13e31">
        </div>
    </form>
    <p class="center text1 color4 margin15">We will detect the server information for you.</p>
</div>
