<ul class="nav nav-pills text4 color4 alt-font">
    <li class="current" role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">Notification</a></li>
    <li role="presentation"><a href="#themes" aria-controls="themes" role="tab" data-toggle="tab">Themes</a></li>
    <li role="presentation"><a href="#integrations" aria-controls="integrations" role="tab" data-toggle="tab">Integrations</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
        <div class="col-sm-9">
            <form class="form-horizontal normal margin30">

                <div class="form-group col-sm-12">
                  <label class="col-sm-4 control-label">Language</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                        <option value="1">English</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <label class="col-sm-4 control-label">Layout</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                        <option value="1">No Split</option>
                        <option value="2">Split</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <label class="col-sm-4 control-label">Message Per Page</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                        <option value="1">10</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <label class="col-sm-4 control-label">External Images</label>
                  <div class="col-sm-8">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Always display
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Ask before displaying
                      </label>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <label class="col-sm-4 control-label">Conversation View</label>
                  <div class="col-sm-8">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> On
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Off
                      </label>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                    <input type="submit" class="btn bttn pull-right" value="Save">
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="notification">
        <div class="col-sm-9">
            <form class="form-horizontal normal margin30">
                <div class="form-group col-sm-12">
                  <label class="col-sm-4 control-label">Desktop Notifcation</label>
                  <div class="col-sm-8">
                      <label class="radio">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Enable Desktop Notifcation
                      </label>
                      <label class="radio">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Disable Desktop Notifcation
                      </label>
                  </div>
                  <div class="form-group col-sm-12 margin30">
                      <label class="col-sm-4 control-label">Notification Sound</label>
                      <div class="col-sm-8">
                          <select class="form-control">
                              <option value="1">Default Sound</option>
                          </select>
                      </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                    <input type="submit" class="btn bttn pull-right" value="Save">
                </div>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="themes">...</div>
    <div role="tabpanel" class="tab-pane" id="integrations">...</div>
</div>
