<div class="modal-dialog" id="signatureModal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text3 color3" id="myModalLabel">Set signature for roebyson@gmail.com</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-3 alt-font"><span class="text4 color8">Signature Content</span></div>
            <div class="col-sm-9">
                <heyooo-wysiwyg-editor></heyooo-wysiwyg-editor>
            </div>
      </div>
      <div class="row margin50">
          <div class="col-sm-3 alt-font"><span class="text4 color8">Signature Generator:</span></div>
          <div class="col-sm-9">
              <ul class="nav nav-pills text4 color4 alt-font">
                  <li class="current" role="presentation"><a href="#personalData" aria-controls="personalData" role="tab" data-toggle="tab">Personal Data</a></li>
                  <li role="presentation"><a href="#companyData" aria-controls="companyData" role="tab" data-toggle="tab">Company Data</a></li>
                  <li role="presentation"><a href="#socialMedia" aria-controls="socialMedia" role="tab" data-toggle="tab">Social Media</a></li>
                  <li role="presentation"><a href="#disclaimerText" aria-controls="disclaimerText" role="tab" data-toggle="tab">Disclaimer Text</a></li>
              </ul>
          </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personalData">
            <div class="col-sm-9 col-sm-offset-3">
                <form>
                    <div class="form-group col-sm-4">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" class="form-control" id="jobTitle" placeholder="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="mobNo">Mobile Number</label>
                        <input type="number" class="form-control" id="mobNo" placeholder="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="phNo">Phone Number</label>
                        <input type="number" class="form-control" id="phNo" placeholder="">
                    </div>
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="companyData">...</div>
        <div role="tabpanel" class="tab-pane" id="socialMedia">...</div>
        <div role="tabpanel" class="tab-pane" id="disclaimerText">...</div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn bttn" data-dismiss="modal">Save</button>
      <button type="button" class="btn bttn">Reset</button>
    </div>
  </div>
</div>
