#signatureModal{
    width: 90%;
    min-width: 1010px;
}

.modal-content {
    padding: 30px;
}

ul.nav > li > a {
    padding-top: 0;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
