.body-bg {
    background: #fff;
}

.topNav-bg {
    background: #fff;
    border-bottom: 2px solid #f6f7fb;
}
@media (min-width: 1370px) {
    .container-fluid {
        width: 1370px;
        margin: 0 auto;
    }
}
