<div class="topNav-bg">
    <div class="container-fluid">
        <heyooo-top-navigation></heyooo-top-navigation>
    </div>
</div>
<div class="container-fluid body-bg">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
