@import "../../../../styles.scss";

.settings-container {
    padding-top: 5%;
    min-height: calc(100vh - 57px);
}

.settingsContent {
    border-left: 2px solid $color9;
    min-height: 310px;
}

.nav {
    margin-top: 50px;
}

.dpImage {
    width: 72px;
    height: 72px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .nav {
        margin-top: 10px;
    }

    .nav li {
        display: inline-block;
    }

    .settingsContent {
        border-left: none;
    }
}
