<div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-2 settings-container">
    <div class="col-sm-3 center settingsNav">
        <img class="img-circle dpImage" src={{auth.User.photoURL}}>
        <div class="text2 color6">{{ auth.name | slice:0:10 }}</div>
        <div class="text1 color8">Current Plan: Free</div>
        <ul class="nav nav-stacked text2 color4">
            <li class="active current" role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
            <li role="presentation"><a href="#mailbox" aria-controls="mailbox" role="tab" data-toggle="tab">Mailbox</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            <li role="presentation"><a href="#affiliates" aria-controls="affiliates" role="tab" data-toggle="tab">Affiliates</a></li>
        </ul>
    </div>
    <div class="col-sm-9 alt-font settingsContent">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account"><heyooo-account></heyooo-account></div>
            <div role="tabpanel" class="tab-pane" id="mailbox"><heyooo-mailbox></heyooo-mailbox></div>
            <div role="tabpanel" class="tab-pane" id="settings"><heyooo-more-settings-layout></heyooo-more-settings-layout></div>
            <div role="tabpanel" class="tab-pane" id="affiliates">...</div>
        </div>
    </div>
</div>
