<!-- Header -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="headerNav">
      <ul id="headerLeft" class="nav navbar-nav text3">
        <li class="current"><a href="javascript:void()">Mail <span class="sr-only">(current)</span></a></li>
        <li><a href="javascript:void()" class="color4">Contacts</a></li>
        <li><a href="javascript:void()" class="color4">Notes</a></li>
      </ul>
      <div class="nav-right pull-right">
          <form class="navbar-form pull-left">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="">
              <span class="color9 glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <img class="img-circle dpImage" src="{{ auth.user ? auth.User.photoURL : '' }}">
              <a href="javascript:void()" class="dropdown-toggle text2 color4 alt-font" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Sample Name' | maxLength }} <i class="fa fa-chevron-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void()" [routerLink]="['settings']" class="text2 color4">Profile</a></li>
                <li><a href="javascript:void()" class="text2 color4" (click)="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--
<a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-circle" src={{auth.User.photoURL}}> Dropdown <span class="caret"></span></a>
<li><a href="javascript:void()" (click)="logout()">Log Out</a></li> -->
