.navbar {
    margin-bottom: 0;
    min-height: 56px;
}

.navbar .glyphicon {
    color: #989fb2;
}

.navbar-default {
    background-color: #fff;
    border-radius: 0;
    border: none;
}

.navbar > .container-fluid .navbar-brand {
    margin-top: 18px;
    margin-left: 72px;
    padding: 0;
}

.navbar-brand {
    background-image: url("/assets/img/logo.png");
    width: 71px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#headerNav {
    padding-right: 0;
}

ul.navbar-nav {
    margin-left: 71px;
    margin-top: 23px;
}

ul#headerLeft.navbar-nav > li {
    margin-right: 30px;
}

ul.navbar-nav > li > a {
    line-height: 10px;
    padding: 0;
}

.navbar-form {
    display: inline-block;
    margin-top: 12px;
    padding: 0;
}

.navbar-form .form-control {
    width: 286px;
    border-radius: 5px;
    height: 34px;
}

.dpImage {
    width: 28px;
    height: 29px;
}

.nav-right ul {
    margin-top: 14px;
    margin-right: 36px;
}

.nav-right > ul > li > a {
    display: inline-block;
    padding-left: 9px;
    line-height: 17.07px;
}

.navbar-nav > li > .dropdown-menu {
    min-width: 140px;
}
@media (max-width: 992px) {
    .navbar-form .form-control {
        width: 150px;
    }

    ul.navbar-nav {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .navbar-header{
        margin-right: 0;
    }
}
