<div id="signinContainer">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-5 lg-offset" id="signin">
        <div class="hidden-xs col-sm-6" id="loginCard">
            <div id="loginClr">
                <p class="alt-font">Live, travel, adventure, bless, and don't be sorry.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" id="loginPage">
            <img class="img-responsive loginLogo" src="/assets/img/logo.png">

            <div *ngIf="weChatEnable;then weChatSignIn; else defaultSignIn;"></div>

            <ng-template #defaultSignIn>
                <div @fade>
                    <!-- <div id="signinIcon" class="margin30"> -->
                        <!-- <a href="javascript:void()" (click)="weChatToggle()"><img src="assets/img/wechat.png" class="img-responsive"></a> -->
                        <!-- <a href="javascript:void()" (click)="loginWithGoogle()"><img src="assets/img/google.png" class="img-responsive"></a>
                        <a href="javascript:void()" (click)="loginWithFacebook()"><img src="assets/img/Facebook.png" class="img-responsive"></a>
                        <a href="javascript:void()" (click)="loginWithTwitter()"><img src="assets/img/twitter-01.png" class="img-responsive"></a> -->
                    <!-- </div> -->
                    <!-- <p class="text4 color8 normal margin20" style="font-family:Proxima Nova Alt">or</p> -->
                    <form class="margin50 alt-font" #loginForm="ngForm">
                        <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="username" required>
                        <input type="password" name="password" class="margin15 form-control" placeholder="Password" [(ngModel)]="password" required>
                        <p *ngIf="error" class="animated shake"><span class="label label-danger text2 wrap"> {{ error }} </span></p>
                        <p *ngIf="message" class="animated pulse"><span class="label label-{{ message.class}} text2 wrap"> {{ message.msg }} </span></p>
                        <input [disabled]="loginForm.invalid" type="submit" class="bttn margin40 normal-font form-control" value="Sign In" (click)="login(username, password)">
                    </form>
                    <p class="color6 margin25 alt-font text1">Don't have an account? <a [routerLink]="['/signup']" class="color3">Create Now!</a></p>
                </div>
            </ng-template>

            <ng-template #weChatSignIn>
                <div @fade>
                    <div class="weChat color6 text1 normal-font">
                        <div class="qrCode">
                            <img src="assets/img/weChatQR.png">
                        </div>
                        <p class="create wechat">Scan the QR code with Mobile Wechat</p>
                        <a href="javascript:void()" (click)="weChatToggle()" class="alt-font bold color3">< Back</a>
                    </div>
                </div>
            </ng-template>
        </div>

    </div>
    <div class="row">

        <footer>
            <p class="text2 alt-font">
                <span>简体中文 | </span> <span class="color2">English</span>
                <!-- <span class="pull-right">&copy; 2017 Heyooo, Inc. All Rights Reserved</span> -->
            </p>
        </footer>
    </div>
</div>
