@import "../../../styles.scss";

#mail-box-container {
    padding: 0;
    font-family: Proxima Nova Alt;
    font-weight: normal;
}

#mail-box {
    padding: 35px 0 0 30px !important;
}

#mail-actions {
    list-style: none;
    padding-left: 47px;
    margin-bottom: 30px;
    // margin: 0 auto 20px;
    // width: 210px;
}

#mail-actions li {
    display: inline-block;
    margin-right: 23px;
}

#mail-actions li:last-child {
    margin-right: 0;
}

#mail-actions li a {
    font-size: 2rem;
    color: $color5;
}

.mail-container {
    padding: 10px 12px 12px 0;
    position: relative;
}

.mail-container:hover {
    background: $color7;
}

.mail-container .fa-star {
    color: #ff9800;
}

.mail-selected {
    background: $color7;
}

.mail-container p {
    margin: 0;
}

.mail-details {
    display: inline-block;
    padding-left: 47px;
}

.mail-details p {
    // margin-bottom: 6px !important;
}

.mail-checkbox {
    position: absolute;
    left: 11px;
    top: 12px;
    width: 16px;
    height: 15px;
}

.mail-star {
    position: absolute;
    top: 10px;
    right: 0;
}

.email-list {
    width: 310px;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
    #mail-box-container {
        width: 95.66%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #mail-box-container {
        width: 29%;
    }
}

.loader {
    border: 2px solid #f6f7fb; /* Light grey */
    border-top: 2px solid #7696e1; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-left: 50%;
    margin-top: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
