<div class="col-xs-11 col-md-3" id="mail-box-container">
    <div *ngIf="inboxList; then default; else loading;">

    </div>
</div>

<ng-template #default>
    <div id="mail-box">
        <ul id="mail-actions">
            <li><a href="javascript:void()"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void()"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void()"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void()"><i class="fa fa-edit" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void()"><i class="fa fa-archive" aria-hidden="true"></i></a></li>
        </ul>

            <div *ngIf="inboxList">
                <div class="mail-container" *ngFor="let mail of inboxList; let i = index" [class.mail-selected]="mail.selected" (click)="readNextEmail(i)" >
                    <div class="mail-details">
                        <input type="checkbox" class="mail-checkbox" (click)="mailSelected(i)">
                        <p class="normal-font text3 color3" style="margin-bottom: 6px">{{ mail.from.name || mail.from.address }}</p>
                        <p class="text3 color6">{{ mail.subject }}</p>
                        <p class="text4 color5" style="line-height: 14.22px" [innerHtml]="mail.body | maxLength: 40"></p>
                        <i class="fa mail-star pull-right" aria-hidden="true" (click) = "toggleStar(i)" [ngClass]="mail.starred ? 'fa-star' : 'fa-star-o'"></i>
                    </div>
                </div>
            </div>

    </div>
</ng-template>

<ng-template #loading>
    <div class="loader"></div>
</ng-template>
