#read-email-container {
    // width: 59.27%;
    padding: 0;
}

#read-email {
    margin-left: 1.46vw;
    box-shadow: -.73vw 1.09vw 2.92vw 0.36vw #f6f7fb;
}

#read-actions {
    height: 10rem;
    background: #f6f7fb;
}

#read-actions ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1rem;
}

#read-actions ul li {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.1rem;
}

#read-actions ul li a {
    text-decoration: none;
    line-height: 10rem;
    color: #989fb2;
}

#read-actions ul li:hover a {
    color: #989fb2;
}

#read-actions .fa {
    font-size: 1.6rem;
    vertical-align: middle;
}

#read-actions #mail-arrows {
    // margin-left: 7rem;
    float: right !important;
    margin-right: 35px;
}

#read-actions #mail-arrows li:nth-child(2) {
    // margin-left: 3rem;
}

#mail-body {
    padding: 2.19vw 3.36vw 0 2.36vw;
}

#body-header #userPic img {
    width: 4.36vw;
    height: 2.92vw;
}

#body-header #mail-subject {
    color: #989fb2;
    font-size: 1.8rem;
    vertical-align: top;
}

#body-header #mail-time {
    float: right;
    color: #2c2c2c;
    font-size: 1.1rem;
    word-spacing: -0.07vw;
    font-weight: bold;
}
@media (min-width: 1200px) {
    #read-email-container {
        width: 59.27%;
    }
}
@media (max-width: 1199px) {
    #read-actions ul li {
        margin-left: 1rem;
    }
}
.loader {
    border: 2px solid #f6f7fb; /* Light grey */
    border-top: 2px solid #7696e1; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-left: 50%;
    margin-top: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
