<div class="col-sm-8 col-lg-7 hidden-sm hidden-xs" id="read-email-container">
    <div *ngIf="currentEmail; then default; else loading"></div>

</div>
<ng-template #default>
    <div id="read-email">
        <div id="read-actions">
            <ul>
                <li><a href="javascript:void()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
                <li><a href="javascript:void()"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a></li>
                <li><a href="javascript:void()"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply All</a></li>
                <li><a href="javascript:void()"><i class="fa fa-arrow-right" aria-hidden="true"></i> Forward</a></li>
                <li><a href="javascript:void()"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Unread</a></li>
                <li><a href="javascript:void()"><i class="fa fa-info-circle" aria-hidden="true"></i> Spam</a></li>
                <li><a href="javascript:void()"><i class="fa fa-tag" aria-hidden="true"></i> Label</a></li>
                <li><a href="javascript:void()"><i class="fa fa-archive" aria-hidden="true"></i> Archive</a></li>
                <span id="mail-arrows">
                    <li><a href="javascript:void()"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:void()"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </span>
            </ul>
        </div>

        <div id="mail-body">
            <div id="body-header">
                <!-- <span id="userPic"><img src="assets/img/paypal.png" class="img-circle"></span> -->
                <span id="mail-subject" class="text5 color4">{{currentEmail.subject}}</span>
                <span id="mail-time">{{currentEmail.date | stringToDate}}</span>
                <div id="mail-sender">{{currentEmail.from.address}} to me</div>
                <!-- <span id="mail-translate">Language</span> -->
            </div>

            <div class="body-main margin30" [innerHtml]="currentEmail.body | keepHtml">

            </div>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="loader"></div>
</ng-template>
