<div id="signUpContainer">

    <div @fade class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-5 lg-offset" id="signUp">
        <div class="hidden-xs col-sm-6" id="signupCard">
            <div id="signupClr">
                <p class="alt-font">Live, travel, adventure, bless, and don't be sorry.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" id="signupPage">
            <p class="text9 color3">Sign Up</p>
            <form class="margin35 alt-font" #signupForm="ngForm">
                <input type="text" name="name" required class="form-control" placeholder="Name" [(ngModel)]="name">
                <input type="text" name="username" required class="form-control margin15" placeholder="Username" [(ngModel)]="username">
                <input type="password" name="password" required #uPwd="ngModel" minlength="8" maxlength="20" class="form-control margin15" placeholder="Password" [(ngModel)]="password">
                <p *ngIf="message" class="animated pulse"><span class="label label-{{ message.class}} text2 wrap"> {{ message.msg }} </span></p>
                <input [disabled]="signupForm.invalid" type="submit" class="bttn margin30 normal-font form-control" value="Sign Up" (click)="signUp()">
            </form>
            <p class="color6 margin25 alt-font text1">I‘m already a member. <a [routerLink]="['/signin']" class="color3">Sign In</a></p>
        </div>

    </div>
    <div class="row">

        <footer>
            <p class="text2 alt-font">
                <span>简体中文 | </span> <span class="color2">English</span>
                <!-- <span class="pull-right">&copy; 2017 Heyooo, Inc. All Rights Reserved</span> -->
            </p>
        </footer>
    </div>
</div>
