#signUpContainer {
    height: 100vh;
    background: #f6f7fb;
}

#signupCard {
    position: absolute;
    height: 100%;
    background: url('/assets/img/loginBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#signupCard p {
    text-align: left;
    font-size: 1.7rem;
    color: #fff;
    line-height: 21.33px;
    position: absolute;
    bottom: 82px;
}

#signupClr {
    background: rgba(255,255,255,0.2);
    height: 100%;
    padding: 0 10px;
}

#signupPage {
    padding: 40px 39px 50px 36px;
    left: 50%;
}

#signUp {
    top: 15%;
    background: #fff;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    position: relative;
}

.form-control[disabled]{
    background: #7696e1;
}

input::placeholder {
    font-size: 1.2rem;
    color: #dfe3ec;
}

footer {
    clear: both;
    position: absolute;
    bottom: 60px;
}

footer p {
    padding-left: 100px;
}

@media (min-width: 1200px) {
    .lg-offset {
        margin-left: 29.17%;
    }
}

@media (max-width: 767px) {
    #signupPage {
        left: 0;
    }
}
