$color1: #4a84cc;
$color2: #7696e1;
$color3: #4e83f7;
$color4: #989fb2;
$color5: #9e9e9e;
$color6: #2c2c2c;
$color7: #f6f7fb;
$color8: #9f9f9f;
$color9: #dfe3ec;
$normal-font: Proxima Nova;
$alt-font: Proxima Nova Alt;

body {
    font-family: $normal-font;
    font-weight: bold;
    background: $color7;
}

.container-fluid,
.row {
    padding: 0;
    margin: 0;
}
//
// @media (min-width: 1367px){
//     .container-fluid {
//         max-width: 1170px;
//         padding-right: 15px;
//         padding-left: 15px;
//         margin-right: auto;
//         margin-left: auto;
//     }
// }

a,
a:focus,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0 !important;
}

.text1 {
    font-size: 1rem;
    font-family: $alt-font;
    font-weight: normal;
}

.text8 {
    font-size: 0.8rem;
}

.text2 {
    font-size: 1.2rem;
}

.text3 {
    font-size: 1.4rem;
}

.text4 {
    font-size: 1.3rem;
}

.text5 {
    font-size: 1.8rem;
}

.text6 {
    font-size: 1.6rem;
}

.text7 {
    font-size: 1.5rem;
}

.text9 {
    font-size: 1.7rem;
}

.color1 {
    color: $color1;
}

.color2 {
    color: $color2 !important;
}

.color4,
.color4 * {
    color: $color4 !important;
}

.color5 {
    color: $color5 !important;
}

.color6 {
    color: $color6 !important;
}

.color7 {
    color: $color7 !important;
}

.color8 {
    color: $color8 !important;
}

.color9 {
    color: $color9 !important;
}

.color3 {
    color: $color3 !important;
}

.current * {
    color: $color1 !important;
}

.bttn,
.bttn:focus,
.bttn:hover {
    background-color: $color2;
    border: 1px solid $color2;
    color: $color7;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: $alt-font;
    line-height: 23px;
    height: 35px;
}

.bttn-empty,
.bttn-empty:focus,
.bttn-empty:hover {
    background-color: transparent;
    border: 1px solid $color2;
    color: $color2;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: $alt-font;
    padding-left: 13px;
    text-align: left;
    line-height: 23px;
    height: 35px;
}

form label,
form select {
    color: $color8;
    font-size: 1.2rem;
}

form .col-sm-12 {
    padding: 0;
}

form input,
form select {
    height: 35px !important;
    border-color: $color9 !important;
};

form input[type=checkbox],
form input[type=radio] {
    height: inherit;
}

.margin50 {
    margin-top: 5rem;
}

.margin45 {
    margin-top: 4.5rem;
}

.margin40 {
    margin-top: 4rem;
}

.margin35 {
    margin-top: 3.5rem;
}

.margin30 {
    margin-top: 3rem;
}

.margin25 {
    margin-top: 2.5rem;
}

.margin20 {
    margin-top: 2rem;
}

.margin15 {
    margin-top: 1.5rem;
}

.center {
    text-align: center;
}

.normal-font {
    font-family: $normal-font;
    font-weight: bold;
}

.alt-font {
    font-family: $alt-font;
    font-weight: normal;
}

.bold,
.bold * {
    font-weight: bold;
}

.normal,
.normal * {
    font-weight: normal;
}

.wrap {
    display: block;
    white-space: pre-wrap;
}
